<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="public/css/bootstrap.css" />
    <link rel="stylesheet" href="public/css/main.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Test Page</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
          <div class="col-sm">
            <h1>You searched for <%= data.userQuery %></h1>
          </div>
      </div>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="public/js/bootstrap.js"></script>
  <script src="public/js/main.js"></script>

</html>
